<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>
<style>
    h1{text-align: center;}
</style>
<body>
    <div><h1>{{title}}</h1></div>
    <p style="text-align:center">Welcome to {{title}}</p>
    <img src="login.jpg" alt="background-img" width="1430" height="620"/>
</body>
</html>

