<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="./public/javascripts/script.js"></script>
    {{!-- add Bootstrap https://www.bootstrapcdn.com/ --}}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    {{!-- Add bootstrap --}}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js" integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF" crossorigin="anonymous"></script>
</head>

<body>
{{!-- https://www.w3schools.com/bootstrap4/bootstrap_navbar.asp --}}
<!-- Grey with black text -->
<nav class="navbar navbar-expand-sm bg-light navbar-light">
    <ul class="navbar-nav">
        <li class="nav-item active">
            <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/foodTracker" >Food Tracker</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/exerciseTracker" >Exercise Tracker</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/expenseTracker" >Expense Tracker</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/waterTracker" >Water Tracker</a>
        </li>
    </ul>
    <ul class="navbar-nav ml-auto">
        {{#if user}}
            <li class="nav-item"><a class="nav-link" href="/user">{{user.fullName}}</a></li>
            <li class="nav-item"><a class="nav-link" href="/Logout">Logout</a></li>
        {{else}}
            <li class="nav-item"><a class="nav-link" href="/Register">Register</a></li>
            <li class="nav-item"><a class="nav-link" href="/Login">Login</a></li>
        {{/if}}
    </ul>
</nav>
{{{body}}}

</body>
</html>
