<h1>
    Register
</h1>

{{#if message}}
    <div class="alert alert-danger">
        {{message}}

    </div>
{{else}}
    <div class="alert alert-info">
        Please create your account
    </div>
{{/if}}
<form method="post">
    <fieldset class="form-group">
        <label for="username" class="col-2 control-label">
            Username:
        </label>
        <input
                name="username"
                id="username"
                required
                type="email"
                placeholder="email@email.com"
        />
    </fieldset>

    <fieldset class="form-group">
        <label for="firstName" class="col-2 control-label">
            First Name:
        </label>
        <input
                name="firstName"
                id="firstName"
                required
                type="text"
                placeholder="First Name"
        />
    </fieldset>
    <fieldset class="form-group">
        <label for="lastName" class="col-2 control-label">
            Last Name:
        </label>
        <input
                name="lastName"
                id="lastName"
                required
                type="text"
                placeholder="Last Name"
        />
    </fieldset>
    <fieldset class="form-group">
        <label for="password" class="col-2 control-label">
            Password:
        </label>
        <input
                name="password"
                id="password"
                type="password"
                required
                pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
        />
    </fieldset>
    <fieldset class="form-group">
        <label for="confirmPWD" class="col-2 control-label">
            Confirm:
        </label>
        <input
                name="confirmPWD"
                id="confirmPWD"
                type="password"
                required
                pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
        />
        <small> Passwords need to contain at least 1 capital and lower cased letter and number. Also, must be at least 8 characters long</small>

    </fieldset>

    <fieldset class="form-group">
        <button class="btn btn-info offset-3">
            Register
        </button>
        <small>All fields are required for registration </small>
        <hr />
        Already have an account?
        <a href="/login" title="Login">
            Login
        </a>
    </fieldset>
</form>