<h1>
    {{title}}
</h1>

{{#if message}}
    <div class="alert alert-danger">
        {{message}}

    </div>
{{else}}
    <div class="alert alert-info">
        Please Update your Password
    </div>
{{/if}}
<form method="post">
<fieldset class="form-group">
    <label for="oldPassword" class="col-2 control-label">
        Old Password:
    </label>
    <input
            name="oldPassword"
            id="oldPassword"
            type="password"
            required
            pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
    />
</fieldset>
    <fieldset class="form-group">
        <label for="password" class="col-2 control-label">
            New Password:
        </label>
        <input
                name="password"
                id="password"
                type="password"
                required
                pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
        />
    </fieldset>
<fieldset class="form-group">
    <label for="confirmPWD" class="col-2 control-label">
        Confirm New Password:
    </label>
    <input
            name="confirmPWD"
            id="confirmPWD"
            type="password"
            required
            pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
    />
    <small> Passwords need to contain at least 1 capital and lower cased letter and number. Also, must be at least 8 characters long</small>

</fieldset>

<fieldset class="form-group">
    <button class="btn btn-info offset-3">
        Update
    </button>

</fieldset>
</form>