<h1>{{title}}</h1>
<form method="post">
    <fieldset>
        <label for="exerciseName" class="col-2">Exercise Name :</label>
        <select id="exerciseName" name="exerciseName" required/>
            <option value="WALKING">Walking</option>
            <option value="JOGGING">Jogging</option>
            <option value="YOGA">Yoga</option>
            <option value="PUSH-UPS">Push-ups</option>
            <option value="SQUATS">Squats</option>
        </select>
    </fieldset>
    <fieldset>
        <label for="duration" class="col-2">Exercise Duration :</label>
        <input name="duration" id="duration" required type="number"/>
    </fieldset>
        <fieldset>
        <label for="caloriesBurnt" class="col-2">Calories Burnt :</label>
        <input name="caloriesBurnt" id="caloriesBurnt" required type="number"/>
    </fieldset>
    <fieldset>
        <label for="date" class="col-2">Exercise Date :</label>
        <input name="date" id="date" required type="date"/>        
    </fieldset>
    {{! A Button}}
    <button class="offset-3 btn-primary"> Add Exercise</button>
</form>