<h1>{{title}}</h1>
<form method="post">
    <fieldset>
        <label for="date" class="col-2" >Date:</label>
        <input type="date" id="date" name="date" required/>
    </fieldset>
    <fieldset>
        <label for="account"  class="col-2">Account :</label>
        <select id="account" name="account" required>
            <option value="Savings">Savings</option>
            <option value="Checkin">Check-in</option>
            <option value="Credit">Credit</option>
        </select>
    </fieldset>
    <fieldset>
        <label for="descriptionExpense" class="col-2">Add a description of the Expense :</label>
        <textarea name="descriptionExpense" id="descriptionExpense" required></textarea>
    </fieldset>
    <fieldset>
        <label for="amount" class="col-2">Amount :</label>
        <input type="number" id="amount" name="amount" required/>
    </fieldset>
    <fieldset>
        <label for="note" class="col-2">Add a note :</label>
        <textarea name="note" id="note" ></textarea>
    </fieldset>



    {{! A Button}}
    <button class="offset-3 btn-primary"> Add Entry </button>
</form>